MONGO_URI=
PORT=3001
JWT_SECRET=
PAYSTACK_TEST_SECRET_KEY=
FLUTTERWAVE_TEST_SECRET_KEY=
EMAIL_PASSWORD=
EMAIL_USERNAME=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_ADDRESS=
EMAIL_VERIFICATION_URL=http://localhost:3001/api/v1/auth/verify-email
RESET_PASSWORD_URL=http://localhost:3001/api/v1/auth/reset-password
SEND_WELCOME_EMAIL=http://localhost:3001/api/v1/auth/register
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=30d
SENTRY_DSN=
GITHUB_TOKEN=
CRON_ENABLED=true
