# Node.js / npm
node_modules/
npm-debug.log

# Yarn
.yarn/

# Bower
.bowerrc
bower_components/

# Debug files
.DS_Store
.idea/
.vscode/

# transpiled / compiled code
build/

# Logs
logs/
*.log

# Runtime files
.env

# Sentry Config File
.sentryclirc

# Sentry Config File
.sentryclirc
